* {
  font-family: "Noto Sans", sans-serif;
}

:root {
  --color-primario: #f39c12;
  --color-secundario: #d35400;
}

/* Background-image */

.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  color: #fff;
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 900px;
  position: relative;
  display: grid;
  grid-template-rows: 150px 1fr;
  margin-bottom: 20px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000007f 0%, #0000005f 100%),
    url("/img/title-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 100%, 0 81%);
  z-index: -1;
}

/* Navegacion */

.nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__tilte {
  font-size: 2.1rem;
}

.driving {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.nav__items {
  font-weight: 400;
  list-style: none;
}

.nav__items i {
  font-size: 1.2rem;
}

.nav__links {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  padding: 0;
}

.nav__link {
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 3em;
}

/* textos-image */

.hero__container {
  max-width: 920px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 160px;
  text-align: center;
}

.hero__container h1 {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.hero__container p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.hero__button {
  display: inline-block;
  background-color: var(--color-secundario);
  text-decoration: none;
  justify-self: center;
  padding: 20px 40px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
}

/* target-icon */

.target__container {
  height: 700px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.targets {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.item__target {
  margin: 0 auto;
  margin: 15px;
  text-align: center;
}

.item__target h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 6px;
}

.item__target img {
  height: 170px;
  width: 170px;
}

/* main */

.main {
  height: 650px;
  background-color: #e5e5f7;
  background-image: radial-gradient(#aaaaaacc 0.5px, transparent 0.5px),
    radial-gradient(#aaaaaacc 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.main__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.main__texts {
  padding: 1rem;
}

.main__title,
.main__paragraph,
.main__button {
  margin: 8px;
}

.main__title {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.main__paragraph {
  font-size: 1.3rem;
  margin-bottom: 55px;
}

.main__button {
  text-decoration: none;
  color: #000;
  background-color: var(--color-primario);
  border-radius: 30px;
  padding: 20px 35px;
  font-size: 1.1rem;
  font-weight: 400;
  box-shadow: 12px -14px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}

.macbook {
  height: 390px;
  width: 700px;
}

/* register */

.register {
  background: linear-gradient(
    135deg,
    #e7d80d 0% 10%,
    #000 10% 20%,
    #e7d80d 20% 30%,
    #000 30% 40%,
    #e7d90d 40% 50%,
    #000 50% 60%,
    #e7d90d 60% 70%,
    #000 70% 80%,
    #e7d90d 80% 90%,
    #000 90% 100%
  );
  z-index: 3;
  position: relative;
  width: 1080px;
  margin: 0 auto;
  padding: 10px 45px;
  border-radius: 15px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  top: 45px;
}

.register h3 {
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.8rem;
}

.register__email {
  border-radius: 30px;
  width: 400px;
  padding: 8px 12px;
  outline: none;
  border: none;
}

.register__form button {
  margin-left: 8px;
}

.register__button {
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  border: none;
}